* {
	box-sizing: border-box;
}

* {
	color: #163152;
	font-family: Circe;	
}

body {
  margin: 0 auto;
	padding: 0;
}

button {
	cursor: pointer;
	border: #808080;
}

h1, h2, h3, h4 {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	font-size: 28px;
}

section li {
	font-size: 30px;
}

a {
	text-decoration: none;
	color: #000000;
	padding: 0;
}

section {
	margin: 0;
	padding: 0;
	width: 100%;
}

p {
	margin: 0;
	padding: 0;
	font-size: 28px;
	line-height: 35px;
}

h2 {
	font-size: 40px;
}

