@import "normalize.scss";
@import "scaffolding.scss";



@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto_regular.woff2) format("woff2"), url(../fonts/roboto_regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
	font-family: Roboto;
}

body {
	width: 100%;
}

a {
 color: inherit;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.header__logo {
	width: 79px;
}

@media (min-width: 768px) {
	.header__logo {
		width: 119px;
	}	
}

.header__profile {
	width: 100px;
}

@media (min-width: 768px) {
	.header__profile {
		width: 129px;
		margin-left: 325px;
	}
}

.menu__icon {
	 width: 100px;
}

@media (min-width: 768px) {
	.menu__icon {
		 width: 130px;
	}
}

.menu__list {
	display: none;
	position: fixed;
	right: 1%;
	z-index: 1;
	background: #3d9dff;
	font-size: 60px;
	padding: 20px;
}

.menu__item--white {
	color: white;
}

.menu:hover .menu__list {
	display: block;
}

.title {
	font-style: italic;
	font-weight: 400;
	font-size: 44px;
	line-height: 60px;
	color: #163152;
	text-transform: uppercase;
	margin: 30px 0 30px 60px;
}

.main-img {
	width: 100%;
}

.title-block {
	font-weight: 700;
	border-bottom: 3px solid blue;
	margin: 20px auto;
	padding-bottom: 16px;
}

.welcome-block {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 80%;
	margin: auto;
	margin-top: 98px;
	&__title {		
    	
	}
	&__img {
		margin: 55px 0 98px 0;
		width: 100%;	
	}
	&__date {
		text-transform: uppercase;
		font-size: 24px;
	}
}


.types-of-yachts {
	margin-top: 98px;
	text-align: -webkit-center;	
}

.types-of-yachts__title {
	font-size: 50px;
	margin-bottom: 49px;
	width: 305px;
}

.types-of-yachts__card {
	width: 80%;
	margin-bottom: 59px;
}

.card__img {
	width: 100%;
}

.info__name {
	font-size: 33px;
	font-weight: 700;
	margin: 20px 0;
}

.info__description-wrap {
	display: none;
	text-align: initial;
}

.card__info:hover .info__description-wrap {
	display: block;
}

.info__options-list {
	list-style-type: disc;
	padding-left: 27px;
}

.info__price-wrap {
	display: flex;
	justify-content: space-between;
	font-weight: 700;
}

.info__price-text {
	font-size: 35px;
}

.info__price-number {
	font-size: 35px;
}




.gallery {
	text-align: justify;
	padding: 0 10px;
}

.gallery__title {
	text-align: center;
	margin-bottom: 20px;
	width: 150px;
}

.gallery__btn {
	margin-bottom: 20px;
	opacity: 0.5;
	&:focus {
		opacity: 1;
	}
}

.btn--photo2:focus ~ .gallery__main-photo  { 
	background: url("../img/gallery_photo_2.jpg") no-repeat;
	background-size: contain;
	width: 345px;
	height: 332px;
	margin: auto;
}



.btn--photo3:focus ~ .gallery__main-photo  { 
	background: url("../img/gallery_photo_3.jpg") no-repeat;
	background-size: contain;
	width: 345px;
	height: 332px;
}

.btn--photo4:focus ~ .gallery__main-photo  { 
	background: url("../img/gallery_photo_4.jpg") no-repeat;
	background-size: contain;
	width: 345px;
	height: 332px;
}

.gallery__main-photo {
	background: url("../img/gallery_photo_1.jpg") no-repeat;
	background-size: contain;
	width: 345px;
	height: 332px;
	margin: auto;
}

.gallery__photo {
	width: 100px;
	height: 100px;	
}

@media (max-width: 363px) {
	.gallery {
		text-align: center;
		margin-bottom: 40px;
	}
}

@media (min-width: 480px) {
	.gallery {
		text-align: center;
		margin-bottom: 40px;
	}
	
	.gallery__main-photo {
		background: url("../img/gallery_photo_1.jpg") no-repeat;
		background-size: contain;
		width: 421px;
		height: 375px;
		margin: auto;
	}
	
	.btn--photo2:focus ~ .gallery__main-photo  { 
		background: url("../img/gallery_photo_2.jpg") no-repeat;
		background-size: contain;
		width: 421px;
		height: 375px;
		margin: auto;
	}

	.btn--photo3:focus ~ .gallery__main-photo  { 
		background: url("../img/gallery_photo_3.jpg") no-repeat;
		background-size: contain;
		width: 421px;
		height: 375px;
	}

	.btn--photo4:focus ~ .gallery__main-photo  { 
		background: url("../img/gallery_photo_4.jpg") no-repeat;
		background-size: contain;
		width: 421px;
		height: 375px;
	}
}

@media (min-width: 576px) {
	.gallery__photo {
		width: 121px;
		height: 121px;	
	}
	
		.gallery__main-photo {
		background: url("../img/gallery_photo_1.jpg") no-repeat;
		background-size: contain;
		width: 530px;
		height: 380px;
		margin: auto;
	}
	
	.btn--photo2:focus ~ .gallery__main-photo  { 
		background: url("../img/gallery_photo_2.jpg") no-repeat;
		background-size: contain;
		width: 530px;
		height: 472px;
		margin: auto;
	}

	.btn--photo3:focus ~ .gallery__main-photo  { 
		background: url("../img/gallery_photo_3.jpg") no-repeat;
		background-size: contain;
		width: 530px;
		height: 472px;
	}

	.btn--photo4:focus ~ .gallery__main-photo  { 
		background: url("../img/gallery_photo_4.jpg") no-repeat;
		background-size: contain;
		width: 530px;
		height: 472px;
	}
	
	.gallery {
		text-align: center;
		margin-bottom: 40px;
	}
}

@media (min-width: 768px) {
	.gallery__photo {
		width: 173px;
		height: 173px;	
	}
		.gallery__main-photo {
		background: url("../img/gallery_photo_1.jpg") no-repeat;
		background-size: contain;
		width: 746px;
		height: 581px;
		margin: auto;
	}
	.gallery {
		text-align: justify;
		margin-bottom: 40px;
	}
}

@media (min-width: 772px) {
	.gallery {
		text-align: center;
		margin-bottom: 40px;
	}
}




.news__title {
	text-align: center;
	width: 162px;
}

.news__img {
	width: 100%;
}

.news__figcaption {
	font-size: 20px;
	color: #8693A4;
}

.news__subtitle {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}

.news__description {
	width: 80%;
	margin-left: 30px;
	max-height: 200px;
	overflow: hidden;
}

.read-more__checker {
	opacity: 0;
}

.read-more__checker:checked ~ .news__description {
	max-height: none;
}

.read-more__checker ~ .read-more-btn::before {
	content: "Подробнее ⇓";
}

.read-more__checker:checked ~ .read-more-btn::before {
	content: "Скрыть ⇑";
}

.read-more-btn {
	cursor: pointer;
	display: inline-block;
	padding: 10px;
	color: #777;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-left: 123px;
	margin-top: 10px;
}

.description__text {
	margin-top: 20px;
	text-align: center;
	&--comment-winner {
		font-size: 35px;
		margin-top: 20px;
	}
}

.description__title {
	font-size: 25px;
	font-weight: 700;
	margin-top: 20px;
}

.description__teams-list {
	list-style-type: disc;
}

.description__author {
	display: flex;
	align-items: center;
	margin-top: 30px;
}

.author__photo {
	width: 80px;
}

.author__information {
	margin-left: 12px;
}


.wrap-contacts {
	position:relative;
	overflow:hidden;
}

.contacts {
	position: relative;    
	bottom: 139px;
	z-index: 1;
}

.contacts__title {
	text-align: start;
	font-size: 20px;
	font-weight: 700;
	border-bottom: 3px solid blue;
	padding-bottom: 16px;
	width: 94px;
}

.contacts__info {
	font-size: 17px;
	&--weight {
		font-weight: 700;
	}
}

.map {
	width: 100%;
	height: 351px;
}

@media (min-width: 768px) {
	.contacts {
		position: static;    
	}

	.map {
		width: 80%;
		height: 351px;
	}
	
	.wrap-contacts {
		position:relative;
		overflow:hidden;
		display: flex;
    align-items: center;
	}
}


.social-networks__text {
	margin-top: 20px;
	text-align: center;
}

.social-networks__logo {
	margin: 20px 0;
	display: flex;
	justify-content: space-evenly;
}

.social-networks__link{	
	border: 1px solid green;
	border-radius: 50%;
	display: block;
	width: 70px;
	height: 70px;
	background: url('../img/facebook.svg') no-repeat center center;
	&:hover{
		border-color: blue;
	}
	&--twit{
		background-image:  url('../img/twitter.svg');
	}
	&--inst{
		background-image:  url('../img/instagram.svg');
	}
}

@media (min-width: 768px) {
	.social-networks__link{
		width: 98px;
		height: 98px;
	}
}

.footer-menu {
	margin: 5% 0;
}

.section__title {
	font-size: 35px;
	margin-left: 3%;
}

.section__list {
	display: none;
	margin-top: 5px;
}


.footer-menu__section:hover .section__list {
	display: block;
}

.footer-information {
	display: flex;
	justify-content: space-between;
	margin: 0 3%;
}

@media (min-width: 768px) {
	.footer-menu {
		margin: 5% 0;
		display: flex;
    justify-content: space-evenly;
	}
	
	.footer-menu__section:hover .section__list {
		display: block;
		padding-left: 8px;
		max-width: min-content;
		background-color: blue;
	}	
}




