@import "normalize.scss";
@import "scaffolding.scss";



@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto_regular.woff2) format("woff2"), url(../fonts/roboto_regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
	font-family: Roboto;
}

body {
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.header__logo {
	width: 79px;
}

.header__profile {
	width: 100px;
}

.menu__icon {
	 width: 100px;
}

.menu__list {
	display: none;
	position: fixed;
	right: 1%;
	z-index: 1;
	background: #3d9dff;
	font-size: 60px;
	padding: 20px;
}

.menu__item--white {
	color: white;
}

.menu:hover .menu__list {
	display: block;
}

.title {
	font-style: italic;
	font-weight: 400;
	font-size: 44px;
	line-height: 60px;
	color: #163152;
	text-transform: uppercase;
	margin: 30px 0 30px 59px;
}

.main-img {
	width: 100%;
}

.welcome-block {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 80%;
	margin: auto;
	margin-top: 98px;
	&__title {
		font-weight: 700;
		border-bottom: 3px solid blue;
    margin: 20px auto;
		padding-bottom: 16px;
	}
	&__img {
		margin: 55px 0 98px 0;
		width: 100%;	
	}
	&__date {
		text-transform: uppercase;
		font-size: 24px;
	}
}


.types-of-yachts {
	margin-top: 98px;
	text-align: -webkit-center;
	&__title {
		font-size: 50px;
		margin-bottom: 49px;
	}
	&__card {
		width: 80%;
		margin-bottom: 59px;
	}
}

.card__img {
	width: 100%;
}

.info__name {
	font-size: 33px;
	font-weight: 700;
	margin: 20px 0;
}

.info__description-wrap {
	display: none;
	text-align: initial;
}

.card__info:hover .info__description-wrap {
	display: block;
}

.info__options-list {
	list-style-type: disc;
	padding-left: 27px;
}

.info__price-wrap {
	display: flex;
	justify-content: space-between;
	font-weight: 700;
}

.info__price-text {
	font-size: 35px;
}

.info__price-number {
	font-size: 35px;
}




.gallery {
	text-align: justify;
}

.gallery__btn {
	margin-bottom: 20px;
	opacity: 0.5;
	&:focus {
		opacity: 1;
	}
}

.btn--photo2:focus ~ .gallery__main-photo  { 
	background: url("../img/gallery_photo_2.jpg") no-repeat;
	background-size: contain;
	width: 345px;
	height: 332px;
	margin: auto;
}

.btn--photo3:focus ~ .gallery__main-photo  { 
	background: url("../img/gallery_photo_3.jpg") no-repeat;
	background-size: contain;
	width: 345px;
	height: 332px;
}

.btn--photo4:focus ~ .gallery__main-photo  { 
	background: url("../img/gallery_photo_4.jpg") no-repeat;
	background-size: contain;
	width: 345px;
	height: 332px;
}

.gallery__main-photo {
	background: url("../img/gallery_photo_1.jpg") no-repeat;
	background-size: contain;
	width: 345px;
	height: 332px;
	margin: auto;
}

.gallery__photo {
	width: 100px;
	height: 100px;	
}




.img-of-news {
	width: 100%;
}

.figcaption {
	font-size: 20px;
	color: #8693A4;
}

.container-description-of-news {
	margin-bottom: 10%;
}

.flex-for-two-el {
	display: flex;
}

.more {
	margin-left: 25px;
}

.more__btn {
	padding: 10px;
	font-size: 20px;
}


.more__btn:active {
	background: red;
}

.block {
	margin-top: 25px;
}

.block:hover .description-of-news {
	display: block;
}

.description-of-news {
	display: none;
	width: 80%;
	margin-left: 30px;
}

.description-of-news__paragraph {
	margin-top: 20px;
}


.subtitle-of-news {
	font-size: 30px;
	font-weight: 700;
	padding-left: 3%;
}

.title-list-of-teams {
	font-size: 25px;
	font-weight: 700;
	margin-top: 20px;
}

.list-of-teams {
	list-style-type: disc;
}

.comment-of-winner {
	font-size: 35px;
	margin-top: 20px;
}

.container-for-photo-of-author {
	display: flex;
	align-items: center;
	margin-top: 30px;
}

.photo-of-author {
	width: 80px;
}

.name-of-author-and-date-of-comment {
	line-height: 0;
}

.contacts {
	position: relative;    
	top: 416px;
	z-index: 1;
}

.contacts__title {
	text-align: start;
	font-size: 20px;
}

.contacts__info {
	font-size: 17px;
}

.social-networks {
	margin: 20px 0;
}

.social-networks__logo {
	width: 90px;
	margin: 10px;
}

.text-social-networks {
	margin: 20px 0 0 20px;
}

.social-networks {
	display: flex;
}

.social-networks__link{
	margin-left: 20px;
	border: 1px solid green;
	border-radius: 50%;
	display: block;
	width: 70px;
	height: 70px;
	background: url('../img/facebook.svg') no-repeat center center;
	&:hover{
		border-color: blue;
	}
	&--twit{
		background-image:  url('../img/twitter.svg');
	}
	&--inst{
		background-image:  url('../img/instagram.svg');
	}
}

.footer-menu {
	margin: 5% 0;
}

.section__title {
	font-size: 35px;
	margin-left: 3%;
}

.section__list {
	display: none;
	margin-top: 5px;
}


.footer-menu__container-for-section:hover .section__list {
	display: block;
}

.footer-information {
	display: flex;
	justify-content: space-between;
	margin: 0 3%;
}






